<section class="museum-container">
    <div class="museum">
        <div class="img-holder">
            <img src="https://images.unsplash.com/photo-1575223970966-76ae61ee7838?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="exhibition picture">
        </div>
        <div class="museum-details-section">
            <h2 class="name">{{ currentMuseum.name }}</h2>
            <div class="datas">
                <p><span class="address">Cím: </span>{{currentMuseum.zip }} {{currentMuseum.city}}, {{currentMuseum.address}}
                </p>
                <p><span class="opening-hours">Nyitvatartás: </span>{{ currentMuseum.openingHours }}</p>
            </div>
            <p class="description">{{currentMuseum.description}}</p>
        </div>
    </div>
    <div class="exhibition-list-section">
        <hr>
        <h2>Kiállítások</h2>
        <div class="exhibition-list">
            <app-exhibition [exhibitionInChild]="exhibition" *ngFor="let exhibition of currentMuseum.exhibitions">
            </app-exhibition>
        </div>
    </div>

</section>