@use "../../app.component" as m;
.museum-container {
    padding: 7rem 5rem;
}

// Museum-details
.museum {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 8rem;
    .img-holder {
        @include m.flexAlignCenter();
        img {
            display: block;
            width: 100%;
            margin: 0 auto;
            border-radius: 1em;
        }
    }
    &-details-section {
        padding: 1rem 2rem;
        p {
            font-size: 2rem;
            color: var(--secondary-text-color);
        }
        .name {
            color: red;
            font-size: 3rem;
        }
        .datas {
            @include m.flexColumn();
            gap: 1rem;
            margin-top: 3rem;
            .address,
            .opening-hours {
                color: blue;
                font-size: 2rem;
            }
        }
        .description {
            margin-top: 4rem;
            font-size: 2.2rem;
        }
    }
}

// exhibition-list
.exhibition-list-section {
    h2 {
        margin: 4.8rem 0 6.66rem;
        color: #333;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        text-decoration: underline;
    }
    .exhibition-list {
        @include m.flexColumn();
        gap: 5.43rem;
    }
}