<section class="museum-list-section">
    <div class="intro">
        <p>Válogasson kedvére a múzeumok között:</p>
        <div class="filter-container">
            <select [formControl]="city">
                <option disabled hidden>város szerint</option>
                <option *ngFor="let city of cityList" [value]="city">{{city}}</option>
            </select>
            <select [formControl]="name">
                <option disabled hidden>név szerint</option>
                <option *ngFor="let name of nameList" [value]="name">{{name}}</option>
            </select>
            <button *ngIf="isResetButtonActive" (click)="showAll()">Kiválasztás törlése</button>
        </div>
    </div>
    <div class="museum" *ngFor="let museum of filteredList" (click)="passId(museum.id)">
        <p class="city-name">{{ museum.city }}</p>
        <h2 class="museum-name">{{ museum.name }}</h2>
    </div>
    Próba
</section>