<section class="museum-list">
    <div class="exhibitions-intro">
        <p>Válogasson kedvére kiállításaink közül:</p>
    </div>
    <div class="museum">
        <p class="date">{{currentDate}}</p>
        <p class="city-name">Város neve</p>
        <h2 class="exhibition-name">Kiállítás neve</h2>
        <h3 class="museum-name">Múzeum neve</h3>
    </div>
    <div class="museum">
        <p class="date">{{currentDate}}</p>
        <p class="city-name">Város neve</p>
        <h2 class="exhibition-name">Kiállítás neve</h2>
        <h3 class="museum-name">Múzeum neve</h3>
    </div>
    <div class="museum">
        <p class="date">{{currentDate}}</p>
        <p class="city-name">Város neve</p>
        <h2 class="exhibition-name">Kiállítás neve</h2>
        <h3 class="museum-name">Múzeum neve</h3>
    </div>
    <div class="museum">
        <p class="date">{{currentDate}}</p>
        <p class="city-name">Város neve</p>
        <h2 class="exhibition-name">Kiállítás neve</h2>
        <h3 class="museum-name">Múzeum neve</h3>
    </div>
    <div class="museum">
        <p class="date">{{currentDate}}</p>
        <p class="city-name">Város neve</p>
        <h2 class="exhibition-name">Kiállítás neve</h2>
        <h3 class="museum-name">Múzeum neve</h3>
    </div>
    <div class="museum">
        <p class="date">{{currentDate}}</p>
        <p class="city-name">Város neve</p>
        <h2 class="exhibition-name">Kiállítás neve</h2>
        <h3 class="museum-name">Múzeum neve</h3>
    </div>
    <div class="museum">
        <p class="date">{{currentDate}}</p>
        <p class="city-name">Város neve</p>
        <h2 class="exhibition-name">Kiállítás neve</h2>
        <h3 class="museum-name">Múzeum neve</h3>
    </div>
    <div class="museum">
        <p class="date">{{currentDate}}</p>
        <p class="city-name">Város neve</p>
        <h2 class="exhibition-name">Kiállítás neve</h2>
        <h3 class="museum-name">Múzeum neve</h3>
    </div>
</section>