@use "../../app.component" as m;
.museum-list-section {
    @include m.flexColumn();
    .intro {
        background-color: lightgray;
        text-align: center;
        font-size: 3rem;
    }
    .intro,
    .museum {
        @include m.flexCenter();
        flex-direction: column;
        height: 15rem;
        .museum-name {
            font-size: 3rem;
        }
        .city-name,
        .date {
            font-size: 2rem;
        }
    }
    .museum:nth-child(even) {
        background-color: lightgreen;
    }
    .museum:nth-child(odd) {
        background-color: lightcoral;
    }
}