<div class="museums">
    <h2>Museums</h2>
    <form *ngIf="formVisible" [formGroup]="museumForm" (ngSubmit)=onSubmit()>
        <div>
            <label for="id">ID</label>
            <input id="id" formControlName="id" type="text" readonly>
        </div>
        <div>
            <label for="name">Name</label>
            <input [readonly]="readonly" id="name" formControlName="name" type="text">
        </div>
        <div>
            <label for="city">City</label>
            <input [readonly]="readonly" id="city" formControlName="city" type="text">
        </div>
        <div>
            <label for="zip">ZIP</label>
            <input [readonly]="readonly" id="zip" formControlName="zip" type="number">
        </div>
        <div>
            <label for="address">Address</label>
            <input [readonly]="readonly" id="address" formControlName="address" type="text">
        </div>
        <div>
            <label for="openingHours">Opening Hours</label>
            <input id="openingHours" formControlName="openingHours" type="text">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea id="description" formControlName="description"></textarea>
        </div>
        <button type="submit" [disabled]="museumForm.invalid">Submit</button>
        <button (click)="setFormVisibility()" type="button">Cancel</button>
    </form>
    <button class="museums-add" *ngIf="!formVisible" (click)="setFormVisibility()">Add a New Museum</button>

    <div *ngIf="currentMuseumId">
        
        <h3>Current photos of {{selectedMuseum}}</h3>
        <div class="images-container">
            <div class="image-container"  *ngFor="let museumPhoto of museumPhotos$ | async">
                <img [src]="museumPhoto.url" />
                <p>{{museumPhoto.description}}</p>
                <button (click)="onDeleteImage(museumPhoto.url, museumPhoto.id)">Delete</button>
            </div>
        </div>
        <div class="upload">
            <app-file-upload [folder]="'museums/' + currentMuseumId" (gotUrl)="onUrlReceived($event)">
            </app-file-upload>
            <button (click)="currentMuseumId = undefined">&times;</button>
        </div>
       
    </div>

    <div class="museums-search">
        <label for="filter">Search</label>
        <input [(ngModel)]="searchTerm" id="filter" (input)="filterMuseums()" placeholder="for anything">
        <span>Results: {{numOfResults}}</span>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>ZIP</th>
                <th>Address</th>
                <th>Opening Hours</th>
                <th>Description</th>
                <th>Photos</th>

                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let museum of filteredList">
                <td>{{ museum.id }}</td>
                <td><a [routerLink]="['/admin/museums', museum.id]">{{ museum.name }}</a></td>
                <td>{{ museum.city }}</td>
                <td>{{ museum.zip }}</td>
                <td>{{ museum.address }}</td>
                <td>{{ museum.openingHours }}</td>
                <td>{{ museum.description }}</td>
                <td><button class="edit" (click)="addPhoto(museum.id, museum.name)">Photos</button></td>
                <td><button class="edit" (click)="editMuseum(museum)">Edit</button></td>
                <td><button class="delete" (click)="deleteMuseum(museum.id, museum.name)">Delete</button></td>
            </tr>

        </tbody>
    </table>

</div>