@use "../../app.component.scss" as m;
.exhibitions-section {
    background-color: var(--main-background-color);
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    gap: 4rem;
    padding: 2rem;
    min-height: 69vh;
}

.calendar-container {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin: 2.25rem 0 0 2rem;
}

.calendar {
    background-image: linear-gradient( rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("https://images.unsplash.com/photo-1612447006943-4374ddb2adbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 52.1vh;
    border-radius: 1rem;
}

.time-container {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 3.2rem 0 0 3rem;
}

.calendar__date {
    padding: 3.7rem 3rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: #262626;
}

.calendar__day:nth-child(7) {
    color: #ff685d;
}

.calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 1.9rem;
    font-weight: 600;
    color: #262626;
}

.calendar__number:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
}

.calendar__number--current,
.calendar__number:hover {
    font-weight: 700;
    border-radius: 0.7rem;
    background-color: #009688;
    color: #fff;
    cursor: pointer;
}

button {
    // display: none;
    @include m.buttonStyle(#009688,
    #fff);
}

// Exhibition-list-section
.exhibition-list {
    display: flex;
    flex-direction: column;
    gap: 5.43rem;
    padding: 2.25rem 6rem 0;
}