@use "../../../app.component" as m;

.museum {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
  // width: 80%;
  min-width: 250px;
  max-width: 1000px;
  // margin: 2em auto;

  &-info {
      margin-top:2em;
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      div:last-child {
          max-width: 300px;
      }
  }

  .images-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    img {
      width: 200px;
      height: auto;
      object-fit: cover;
    }
  }

  .exhibitions {
    display: flex;
    flex-direction: column;
    gap: 2em;

    &-title {
      display: grid;
      grid-template-columns: 1fr auto;

      button {
        @include m.buttonStyle;
        &:hover {
          background-color: green;
          color: white;
        }
      }
    }

    @include m.formatTable();

    &-add {
      @include m.buttonStyle;
      width: 14em;

      &:hover {
        background-color: green;
        color: white;
      }
    }

    .error {
      background-color: red;
      color: white;
      font-size: 2rem;
      font-weight: bold;
      padding: 1em;
      display: flex;
      justify-content: space-between;

      &-close-btn {
        padding: 0 .7rem;
        font-size: 3rem;
        color:black;

      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1em;

      label {
        font-weight: bold;
      }

      input,
      textarea {
        border-radius: 0.5em;

        &:read-only {
          background-color:gray;
        }
      }

      button {
        @include m.buttonStyle;
        width: 50%;

        &:disabled {
          cursor: not-allowed;
        }

        &:hover:not(:disabled) {
          background-color: green;
          color: white;
        }

        &:last-child {
          @include m.buttonStyle(lightgrey);

          &:hover {
            background: grey;
          }
        }
      }

      div {
        display: flex;
        flex-direction: column;
        width: 50%;

        input,
        textarea {
          padding: 0.5em;
        }
      }
    }
  }
}
