@mixin buttonStyle($bgcolor: lightgreen, $color: black) {
    cursor: pointer;
    background-color: $bgcolor;
    color: $color;
    font-weight: bold;
    padding: 0.7em 1em;
    outline: none;
    border: none;
    border-radius: 0.5em;
    transition: all 0.3s;
}

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexAlignCenter() {
    display: flex;
    align-items: center;
}

@mixin formatTable () {
    table {
        border-spacing: 0;
        thead {
          background-color: rebeccapurple;
          color: wheat;
          th {
            text-align: center;
            padding: 0.5em;
          }
        }
    
        tbody {
          tr {
              transition: all 300ms;
            td {
              border-bottom: 1px solid grey;
              line-height: 2.5rem;
              padding: .5em 1em;
              font-size: 1.7rem;
            }
    
            &:hover {
                background-color: lightgrey;
            }

            button {
                @include buttonStyle(lightblue);
          
                &:hover {
                  background: blue;
                  color: white;
                }
          
                &.delete {
                  background: pink;
          
                  &:hover {
                    background: red;
                  }
                }
              }
          }
        }
    }
}