.admin-page-container {
    margin-top: 6em;
    display: flex;
    gap: 2em;

    nav {
        ul {
            li {
                margin: 1em;
                padding: 1em;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}