<header class="header" #header>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" [routerLink]="['']">Főoldal</a></li>
            <li><a class="main-nav-link" [routerLink]="['/signup']">Foglalás</a></li>
            <li><a class="main-nav-link" [routerLink]="['/login']">Bejelentkezés</a></li>
            <li><a class="main-nav-link" [routerLink]="['/admin']">Admin</a></li>
            <li><a class="main-nav-link" [routerLink]="['']">Kilépés</a></li>
        </ul>
    </nav>
    <div class="hero-section" role="img" aria-label="background-picture" #hero></div>
</header>