<header class="header">
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" [routerLink]="['']">Főoldal</a></li>
            <li><a class="main-nav-link" [routerLink]="['registration']">Regisztráció</a></li>
            <li><a class="main-nav-link" [routerLink]="['login']">Bejelentkezés</a></li>
            <li><a class="main-nav-link" [routerLink]="['/admin']">admin</a></li>
            <li><a class="main-nav-link" [routerLink]="['']">Kilépés</a></li>
        </ul>
    </nav>
</header>