@use "../../app.component" as m;
.header {
    .main-nav {
        width: 100%;
        background-color: var(--main-background-color);
        @include m.flexAlignCenter();
        height: 6vh;
        padding: 2rem;
        &-list {
            display: flex;
            gap: 5.5rem;
            width: 100%;
            list-style: none;
            li:last-child {
                margin-left: auto;
            }
        }
        &-link:link,
        &-link:visited {
            color: #5959e7;
            text-decoration: none;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .hero-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://images.unsplash.com/photo-1554907984-15263bfd63bd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
        background-position: center;
        background-size: cover;
        height: 25vh;
    }
}

// Sticky-navbar implementation
.sticky {
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
    }
    .hero-section {
        margin-top: 6vh;
    }
}