@use "../../app.component" as m;
.exhibition {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
    .img-holder {
        @include m.flexAlignCenter();
        img {
            width: 100%;
            border-radius: 1.1em;
        }
    }
    &-infos {
        @include m.flexColumn();
        gap: 1.2rem;
        color: var(--secondary-text-color);
        .title {
            font-size: 2.6rem;
        }
        .duration,
        .description,
        .price {
            font-size: 2.2rem;
            span {
                color: green;
            }
        }
        .additional-info {
            font-size: 2rem;
        }
    }
}