<section class="exhibitions-section">
    <div class="calendar-container">
        <div class="calendar">
            <div class="calendar-picture">
                <!-- https://images.unsplash.com/photo-1504792001904-7a52bab2ec06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80 -->
                <h2>{{currentDayOfTheMonth}}, {{currentDay}}</h2>
                <h3>{{currentMonth}}</h3>
            </div>
            <div class="calendar__date">
                <div class="calendar__day">Hétfő</div>
                <div class="calendar__day">Kedd</div>
                <div class="calendar__day">Szerda</div>
                <div class="calendar__day">Csütörtök</div>
                <div class="calendar__day">Péntek</div>
                <div class="calendar__day">Szombat</div>
                <div class="calendar__day">Vasárnap</div>
            </div>
        </div>
    </div>
    <div class="exhibition-list">
        <div class="probe"></div>
        <!-- <app-exhibition></app-exhibition> -->
    </div>
</section>