@use "../../app.component" as m;
.registration-section {
    background-color: var(--main-background-color);
    height: 69vh;
    @include m.flexCenter();
    .form-container {
        background-color: var(--secondary-bg-color);
        @include m.flexCenter();
        width: 40%;
        height: 88.3%;
        border-radius: 5rem;
        form {
            width: 80%;
            height: 100%;
            @include m.flexCenter();
            flex-direction: column;
            gap: 3rem;
            div {
                width: 100%;
                label {
                    display: block;
                    color: var(--secondary-text-color);
                    font-size: 2.4rem;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                input,
                select {
                    display: block;
                    margin: 0 auto;
                    padding: 0.5rem;
                    width: 47%;
                    height: 4rem;
                    border: none;
                    border-radius: 0.75rem;
                    font-size: 2rem;
                    text-align: center;
                }
                input:focus,
                select:focus {
                    outline: none;
                }
            }
            button {
                @include m.buttonStyle( rgba(30, 138, 71, 0.8), rgba(255, 255, 255, 0.8));
            }
        }
    }
}